<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tarefas</title>
  </head>
  <body>
    <h1>LISTAGEM DE TAREFAS</h1>
    <ol>
      <% allTask.map((task) =>{ %>
      <li>
        <%= `${task.id} - ${task.name}` %>
        <form action="/litagemtarefas/delete/<%=task.id%>" method="post">
          <input type="hidden" name="idDelete" value="<%- task.id %>" />
          <button type="submit">delete</button>
        </form>
      </li>
      <%}) %>
    </ol>
  </body>
</html>
