<!-- Modal de Confirmação para editar listagem -->
<div class="modal fade" id="confirmEditNameModal" tabindex="-1" aria-labelledby="confirmEditNameLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmEditNameLabel">Confirmar Alteração</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control rounded-3" id="floatingInput" placeholder="digite novo nome">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="confirmEditNameBtn">Editar</button>
            </div>
        </div>
    </div>
</div>